@font-face {
  font-family: "Roboto Condensed";
  src: url("../resources/fonts/RobotoCondensed-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("../resources/fonts/RobotoMono-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed Bold";
  src: url("../resources/fonts/RobotoCondensed-Bold.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

b {
  font-family: "Roboto Condensed Bold", sans;
}

h1,
h4 {
  font-family: "Roboto Condensed", sans;
}

h2,
h3,
h5,
h6,
a,
p,
button,
code {
  font-family: "Roboto Mono", monospace;
}

.closingTags {
  position: relative;
}

.closingTags::after {
  content: " />";
  position: absolute;
  padding-left: 5px;
}

.titleH2 {
  text-align: center;
  font-weight: normal;
  margin: 40px auto;
  margin-right: 15px;
}

.btn {
  font-size: 0.75rem;
  border: none;
  cursor: pointer;
  padding: 13px 18px;
}

@media (min-width: 1400px) {
  .btn {
    padding: 15px 20px;
    font-size: 0.875rem;
  }
}

.btn-primary {
  border-radius: 5px;
  background: linear-gradient(106.8deg, #fa7d09 -0.05%, #ff4301 99.95%);
  color: #f0efed;
  transition: 0.2s;
}
.btn-primary:disabled {
  background: gray;
  cursor: default;
}
.btn-primary:disabled:hover {
  background: gray;
  cursor: default;
}

.btn-primary:hover {
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}

.btn-secondary {
  border-radius: 5px;
  padding: 13px 20px;
  background: none;
  border: 2px solid #ff4301;
  color: #f0efed;
  transition: 0.2s;
}

.btn-secondary:hover {
  border: 2px solid #362b1e;
  background-color: #362b1e;
}
